.marcadorH1 {
  text-align: center;
}

.ganador {
  color: green;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.marcadorH1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 40px;
  letter-spacing: -1px;
  word-spacing: 4.2px;
  color: #611111;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

.ganador {
  color: green;
  animation: blink-animation 1s steps(5, start) infinite;
}

.button {
  border-style: solid;
  border-color: red;
}

body {
  background: rgba(136, 136, 209, 0.24);
  text-align: center;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  letter-spacing: 0.6px;
  word-spacing: -1.4px;
  color: #615C5F;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.m1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  letter-spacing: -1.8px;
  word-spacing: 2px;
  color: #102BFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;

}

.m2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  letter-spacing: -1.8px;
  word-spacing: 2px;
  color: #FF080C;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

#bEquipo1 {

  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #0f1bff 5%, #6c7c7c 100%);
  background-color: #0f1bff;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;

}

#bEquipo2 {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #ff0f0f 5%, #6c7c7c 100%);
  background-color: #ff0f0f;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;

}

#reset {
  box-shadow: 9px 21px 19px -43px #47e2cd;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 18px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: -1px 1px 0px #4ce6cf;

}

.E {
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  background-color: #f0c911;
  border-radius: 6px;
  border: 1px solid #e65f44;
  display: inline-block;
  cursor: pointer;
  color: #c92200;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ded17c;

  &:hover {
    background: linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
    background-color: #f2ab1e;
  }